@keyframes heart{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes menu{
    0%{
        transform: translateY(50px);
        opacity: 0;
    }
    75%{
        opacity: 0.5;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes loader{
    0%{
        transform: rotate(0deg);
        opacity: 0;
    }
    25%{
        opacity: 0.7;
    }
    75%{
        opacity: 0.7;
    }
    100%{
        transform: rotate(360deg);
        opacity: 0;
    }
}

@keyframes loader-logo{
    0%{
        transform: rotate(0deg);
        opacity: 0.7;
    }
    25%{
        opacity: 0.7;
        transform: rotate(0deg);
    }
    75%{
        opacity: 0.7;
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(360deg);
        opacity: 0;
    }
}

@keyframes body{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
