@mixin cont($colour: $colour-background){
    background: $colour;
    width: $width-cont-mobile;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

@mixin menu__cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $colour-background;
    margin: 0;
    padding-top: 20px;
    @media (min-width: 1000px){
        width: 85%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    & > p{
        width: 90%;
        margin-right: 80%;
        text-transform: uppercase;
        margin-left: 15px;
        align-self: flex-start;
        border-bottom: 3px solid #99e2d0;
        padding-bottom: 3px;
        width: 40px;
    }
}

@mixin btn--discover{
    width: 50%;
    max-width: 300px;
    z-index: 1;
    position: relative;
    background: $colour-btn;
    border-radius: 30px 30px 30px 30px;
    padding: 5px 10px 5px 10px;
    margin-bottom: 25px;
    box-shadow: 6px 6px 10px darken($colour-background, 25%);
    transition: opacity 250ms ease-in-out;
    cursor: pointer;
    &:hover{
        opacity: 0.9;
        .header__discover__btn--darken{
            opacity: 1;
        }
    }
    &--darken{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        box-shadow: 6px 6px 10px darken($colour-background, 35%);
        border-radius: 30px 30px 30px 30px;
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms;
    }
}

@mixin btn--fct{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    width: 85%;
    max-width: 350px;
    border-radius: 25px 25px 25px 25px;
    background-color: $colour-background;
    margin-bottom: 20px;
    box-shadow: 6px 6px 10px darken($colour-background, 25%);
    transition: opacity 250ms ease-in-out;
    cursor: pointer;
    @media (min-width: 1000px){
        flex-direction: row;
        margin: 10px;
    } 
    &--darken{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        box-shadow: 6px 6px 10px darken($colour-background, 35%);
        border-radius: 25px 25px 25px 25px;
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms;
    }
    &:hover{
        opacity: 0.8;
        .cont-fct__btn--darken{
            opacity: 1;
        }
    }
    & span{
        display: flex;
        border-radius: 30px;
        background-color: $colour-primary;
        width: 25px;
        height: 25px;
        margin-left: -10px;
        margin-right: 20px;
        color: $colour-text-secondary;
        font-weight: lighter;
        justify-content: center;
        align-items: center;
    }
    & i{
        margin-right: 20px;
        width: 25px;
        font-size: 1.2rem;
        color: darken($colour-background, 55%);
        transition: color 1s;
    }
}

@mixin btn--menu {
    width: 95%;
    height: 65px;
    background-color: $colour-white;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 6px 6px 10px darken($colour-background, 25%);
    position: relative;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
    &:hover{
        .menu__cont__btn--darken{
            opacity: 1;
        }
        .menu__cont__btn--check{
            transform: translateX(0);
            & i{
                transform: rotate(360deg);
            }
        }
        .menu__cont__btn__prix{
            transform: translateX(-80px);
            margin-left: 90px;
        }
    }
    .menu__cont__btn--darken{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        box-shadow: 6px 6px 10px darken($colour-background, 35%);
        border-radius: 15px;
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms;
    }
    .menu__cont__btn--check{
        display: flex;
        width: 80px;
        justify-self: right;
        position: absolute;
        transform: translateX(150px);
        transition: transform 1s ease-out;
        top: 0;
        right: 0;
        bottom: 0;
        justify-content: center;
        align-items: center;
        background-color: $colour-tertiary;
        box-shadow: 6px 6px 10px darken($colour-background, 35%);
        border-radius: 0px 15px 15px 0px;
        z-index: -1;
        & i{
            font-size: 175%;
            color: $colour-text-secondary;
            transition: transform 600ms 500ms ease-out;
        }
    }
    &__texte{
        width: 100%;
        position: relative;
        flex-direction: column;
        margin-left: 15px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }    
    &__titre{
        font-weight: bold;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-bottom: -7px;
    }
    &__description{
        font-size: 0.8rem;
        font-weight: lighter;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    &__prix{
        width: 30px;
        align-self: flex-end;
        margin-right: 15px;
        transition: margin-left 1s 100ms ease-out, transform 1s 100ms ease-out;
    }
}

@mixin rst-link{
    width: $width-cont-mobile;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 1000px){
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }   
    & a{
        width: 85%;
        text-decoration: none;
        color: $colour-text-primary;
        display: block;
        position: relative;
        cursor: pointer;
        z-index: 1;
        @media (min-width: 1000px) and (max-width: 1474px){
            width: 45%;
            min-width: 320px;
            margin: 20px;
            flex-wrap: wrap;
        }
        @media (min-width: 1475px){
            width: 20%;
            min-width: 320px;
            margin: 20px;
            flex-wrap: wrap;
        }
        .cont-rst__link--darken{
            position: absolute;
            height: 250px;
            top: 1rem;
            bottom: 0;
            right: 0;
            left: 0;
            box-shadow: 6px 6px 10px darken($colour-background, 35%);
            border-radius: 25px 25px 25px 25px;
            opacity: 0;
            z-index: -1;
            transition: opacity 250ms;
        }   
        &:hover{
            opacity: 0.9;
            .cont-rst__link--darken{
                opacity: 1;
            }
        } 
    }
    & figure{
        margin-left: 0;
        margin-right: 0;
        align-self: center;
        width: 100%;
        height: 250px;
        background-color: $colour-white;
        border-radius: 25px;
        box-shadow: 6px 6px 10px darken($colour-background, 25%);
        position: relative;
        z-index: 1;
        transition: opacity 250ms ease-in-out;
        & .nouveau{
        background-color:$colour-tertiary;
        color: darken($colour-tertiary, 50%);
        padding: .5rem;
        border-radius: 5px;
        position: absolute;
        right: 1rem;
        }
        
    }
    & img{
        width: 100%;
        height: 70%;
        object-fit: cover;
        border-radius: 25px 25px 0px 0px;
    }
    & figcaption{
        width: 100%;
        max-height: 60px;
        line-height: 0.5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        cursor: pointer;
        & > div{
            margin-left: 15px;
        }   
        & i{
            font-size: 175%;
            justify-self: flex-end;
            margin-right: 15px;
        }
    }
}