/*# Utils */
/*# Variables */
/*# Fonctions */
/*# Mixins */
@keyframes heart {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes menu {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  25% {
    opacity: 0.7;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
@keyframes loader-logo {
  0% {
    transform: rotate(0deg);
    opacity: 0.7;
  }
  25% {
    opacity: 0.7;
    transform: rotate(0deg);
  }
  75% {
    opacity: 0.7;
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
@keyframes body {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# Placeholders */
/*# Vendors */
/*# Base */
body {
  margin: auto;
}

.accueil {
  animation: body 3s 3s both;
}

body {
  font-family: "Bahnschrift", sans-serif;
  color: #000000;
}

h1 {
  font-weight: bold;
  font-size: 1.6rem;
}

h2 {
  font-weight: lighter;
  font-size: 1rem;
}

h3 {
  font-weight: bold;
  font-size: 1.2rem;
}

h4 {
  font-weight: bold;
  font-size: 1.1rem;
}

header h3 {
  font-size: 0.9rem;
  font-weight: lighter;
  color: #fff;
}

.menu__header__title {
  font-family: Cambria, sans-serif;
  font-size: 1.8rem;
  font-weight: 800;
  font-style: italic;
}

/*# Components */
.header__discover__btn {
  width: 50%;
  max-width: 300px;
  z-index: 1;
  position: relative;
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  border-radius: 30px 30px 30px 30px;
  padding: 5px 10px 5px 10px;
  margin-bottom: 25px;
  box-shadow: 6px 6px 10px #b6b6b6;
  transition: opacity 250ms ease-in-out;
  cursor: pointer;
}
.header__discover__btn:hover {
  opacity: 0.9;
}
.header__discover__btn:hover .header__discover__btn--darken {
  opacity: 1;
}
.header__discover__btn--darken {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 6px 6px 10px #9d9d9d;
  border-radius: 30px 30px 30px 30px;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}

.cont-fct__btn {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  width: 85%;
  max-width: 350px;
  border-radius: 25px 25px 25px 25px;
  background-color: #f6f6f6;
  margin-bottom: 20px;
  box-shadow: 6px 6px 10px #b6b6b6;
  transition: opacity 250ms ease-in-out;
  cursor: pointer;
}
@media (min-width: 1000px) {
  .cont-fct__btn {
    flex-direction: row;
    margin: 10px;
  }
}
.cont-fct__btn--darken {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 6px 6px 10px #9d9d9d;
  border-radius: 25px 25px 25px 25px;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}
.cont-fct__btn:hover {
  opacity: 0.8;
}
.cont-fct__btn:hover .cont-fct__btn--darken {
  opacity: 1;
}
.cont-fct__btn span {
  display: flex;
  border-radius: 30px;
  background-color: #9356DC;
  width: 25px;
  height: 25px;
  margin-left: -10px;
  margin-right: 20px;
  color: #fff;
  font-weight: lighter;
  justify-content: center;
  align-items: center;
}
.cont-fct__btn i {
  margin-right: 20px;
  width: 25px;
  font-size: 1.2rem;
  color: #6a6a6a;
  transition: color 1s;
}

.cont-fct__btn--shop {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  width: 85%;
  max-width: 350px;
  border-radius: 25px 25px 25px 25px;
  background-color: #f6f6f6;
  margin-bottom: 20px;
  box-shadow: 6px 6px 10px #b6b6b6;
  transition: opacity 250ms ease-in-out;
  cursor: pointer;
  background: #efe6fa;
}
@media (min-width: 1000px) {
  .cont-fct__btn--shop {
    flex-direction: row;
    margin: 10px;
  }
}
.cont-fct__btn--shop--darken {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 6px 6px 10px #9d9d9d;
  border-radius: 25px 25px 25px 25px;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}
.cont-fct__btn--shop:hover {
  opacity: 0.8;
}
.cont-fct__btn--shop:hover .cont-fct__btn--darken {
  opacity: 1;
}
.cont-fct__btn--shop span {
  display: flex;
  border-radius: 30px;
  background-color: #9356DC;
  width: 25px;
  height: 25px;
  margin-left: -10px;
  margin-right: 20px;
  color: #fff;
  font-weight: lighter;
  justify-content: center;
  align-items: center;
}
.cont-fct__btn--shop i {
  margin-right: 20px;
  width: 25px;
  font-size: 1.2rem;
  color: #6a6a6a;
  transition: color 1s;
}
.cont-fct__btn--shop i {
  color: #9356DC;
}

.menu__cont__btn {
  width: 95%;
  height: 65px;
  background-color: #fff;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 6px 6px 10px #b6b6b6;
  position: relative;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
}
.menu__cont__btn:hover .menu__cont__btn--darken {
  opacity: 1;
}
.menu__cont__btn:hover .menu__cont__btn--check {
  transform: translateX(0);
}
.menu__cont__btn:hover .menu__cont__btn--check i {
  transform: rotate(360deg);
}
.menu__cont__btn:hover .menu__cont__btn__prix {
  transform: translateX(-80px);
  margin-left: 90px;
}
.menu__cont__btn .menu__cont__btn--darken {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 6px 6px 10px #9d9d9d;
  border-radius: 15px;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}
.menu__cont__btn .menu__cont__btn--check {
  display: flex;
  width: 80px;
  justify-self: right;
  position: absolute;
  transform: translateX(150px);
  transition: transform 1s ease-out;
  top: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  box-shadow: 6px 6px 10px #9d9d9d;
  border-radius: 0px 15px 15px 0px;
  z-index: -1;
}
.menu__cont__btn .menu__cont__btn--check i {
  font-size: 175%;
  color: #fff;
  transition: transform 600ms 500ms ease-out;
}
.menu__cont__btn__texte {
  width: 100%;
  position: relative;
  flex-direction: column;
  margin-left: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__cont__btn__titre {
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: -7px;
}
.menu__cont__btn__description {
  font-size: 0.8rem;
  font-weight: lighter;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__cont__btn__prix {
  width: 30px;
  align-self: flex-end;
  margin-right: 15px;
  transition: margin-left 1s 100ms ease-out, transform 1s 100ms ease-out;
}

@media (min-width: 1250px) {
  .btn--4 {
    width: 22%;
    min-width: 200px;
    margin-right: 25px;
  }
}

@media (min-width: 1250px) {
  .btn--3 {
    width: 30%;
    min-width: 300px;
    margin-right: 25px;
  }
}

.menu__btn--commander {
  width: 50%;
  max-width: 300px;
  z-index: 1;
  position: relative;
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  border-radius: 30px 30px 30px 30px;
  padding: 5px 10px 5px 10px;
  margin-bottom: 25px;
  box-shadow: 6px 6px 10px #b6b6b6;
  transition: opacity 250ms ease-in-out;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 0px 10px 0px 10px;
}
.menu__btn--commander:hover {
  opacity: 0.9;
}
.menu__btn--commander:hover .header__discover__btn--darken {
  opacity: 1;
}
.menu__btn--commander--darken {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 6px 6px 10px #9d9d9d;
  border-radius: 30px 30px 30px 30px;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}
.menu__btn--commander:hover .menu__btn--commander--darken {
  opacity: 1;
  border-radius: 30px;
}

.cont-rst__link {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1000px) {
  .cont-rst__link {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}
.cont-rst__link a {
  width: 85%;
  text-decoration: none;
  color: #000000;
  display: block;
  position: relative;
  cursor: pointer;
  z-index: 1;
}
@media (min-width: 1000px) and (max-width: 1474px) {
  .cont-rst__link a {
    width: 45%;
    min-width: 320px;
    margin: 20px;
    flex-wrap: wrap;
  }
}
@media (min-width: 1475px) {
  .cont-rst__link a {
    width: 20%;
    min-width: 320px;
    margin: 20px;
    flex-wrap: wrap;
  }
}
.cont-rst__link a .cont-rst__link--darken {
  position: absolute;
  height: 250px;
  top: 1rem;
  bottom: 0;
  right: 0;
  left: 0;
  box-shadow: 6px 6px 10px #9d9d9d;
  border-radius: 25px 25px 25px 25px;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}
.cont-rst__link a:hover {
  opacity: 0.9;
}
.cont-rst__link a:hover .cont-rst__link--darken {
  opacity: 1;
}
.cont-rst__link figure {
  margin-left: 0;
  margin-right: 0;
  align-self: center;
  width: 100%;
  height: 250px;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 6px 6px 10px #b6b6b6;
  position: relative;
  z-index: 1;
  transition: opacity 250ms ease-in-out;
}
.cont-rst__link figure .nouveau {
  background-color: #99E2D0;
  color: #1b6150;
  padding: 0.5rem;
  border-radius: 5px;
  position: absolute;
  right: 1rem;
}
.cont-rst__link img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 25px 25px 0px 0px;
}
.cont-rst__link figcaption {
  width: 100%;
  max-height: 60px;
  line-height: 0.5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
}
.cont-rst__link figcaption > div {
  margin-left: 15px;
}
.cont-rst__link figcaption i {
  font-size: 175%;
  justify-self: flex-end;
  margin-right: 15px;
}

.cont-rst__link__heart {
  display: flex;
  align-items: center;
  justify-content: right;
  cursor: pointer;
  position: relative;
}
.cont-rst__link__heart i {
  position: absolute;
  left: -50px;
}
.cont-rst__link__heart:hover .heart-solid {
  transform: scale(1);
  opacity: 1;
}
.cont-rst__link__heart:hover .heart-empty {
  opacity: 0;
}
.cont-rst__link__heart .heart-solid {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(0);
  transition: all 400ms ease-in-out;
  opacity: 0;
}
.cont-rst__link__heart .heart-empty {
  opacity: 1;
  transition: all 400ms 150ms ease-in-out;
}

.menu__cont {
  position: relative;
  overflow: hidden;
}
.menu__cont .btn1 {
  animation: menu 400ms 200ms ease-in-out both;
}
.menu__cont .btn2 {
  animation: menu 400ms 400ms ease-in-out both;
}
.menu__cont .btn3 {
  animation: menu 400ms 600ms ease-in-out both;
}
.menu__cont .btn4 {
  animation: menu 400ms 800ms ease-in-out both;
}

/*# Layout */
.loader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 400px;
  position: absolute;
}
@media (max-width: 1000px) {
  .loader {
    margin-top: 200px;
  }
}
.loader img {
  position: absolute;
  opacity: 0;
  animation: loader-logo 3s reverse ease-in-out backwards;
}
@media (max-width: 480px) {
  .loader img {
    width: 100px;
  }
}
@media (min-width: 481px) and (max-width: 1000px) {
  .loader img {
    width: 125px;
  }
}

.fa-spinner {
  font-size: 30rem;
  position: absolute;
}
@media (max-width: 480px) {
  .fa-spinner {
    font-size: 15rem;
  }
}
@media (min-width: 481px) and (max-width: 1000px) {
  .fa-spinner {
    font-size: 22rem;
  }
}

.spinner--1 {
  color: #9356DC;
  opacity: 0;
  animation: loader 1s ease-in-out;
}

.spinner--2 {
  color: #FF79DA;
  opacity: 0;
  animation: loader 1s 1s ease-in-out reverse;
}

.spinner--3 {
  color: #99E2D0;
  opacity: 0;
  animation: loader 1s 2s ease-in-out;
}

.header {
  width: 100%;
}
.header__logo {
  background: none;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}
.header__logo img {
  width: 150px;
  margin-top: 5px;
  margin-bottom: 5px;
}
@media (min-width: 1000px) {
  .header__logo img {
    width: 300px;
  }
}
.header__localisation {
  background: #e9e9e9;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}
@media (min-width: 1000px) {
  .header__localisation {
    background: linear-gradient(90deg, #f6f6f600 0%, #e9e9e9 5%, #e9e9e9 50%, #e9e9e9 95%, #f6f6f600 100%);
  }
}
.header__localisation input {
  border: none;
  background-color: #e9e9e9;
  margin-left: 10px;
  width: 100px;
  color: #000000;
  font-weight: bold;
}
.header__discover {
  background: #f6f6f6;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media (min-width: 1000px) {
  .header__discover {
    background: linear-gradient(90deg, #f6f6f600 0%, #f6f6f6 5%, #f6f6f6 50%, #f6f6f6 95%, #f6f6f600 100%);
  }
}
.header__discover__txt {
  width: 80%;
}
.header__discover__txt h2 {
  margin-top: -17px;
  padding-bottom: 7px;
}
.header__discover a {
  text-decoration: none;
  color: #000000;
}

.footer {
  background-color: #353535;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.footer img {
  width: 125px;
  padding-left: 40px;
  filter: invert(100%);
}
.footer li {
  list-style-type: none;
  padding-bottom: 10px;
}
.footer li a {
  text-decoration: none;
  color: #fff;
}
.footer li a i {
  padding-right: 20px;
  width: 8px;
}
.footer li a:hover {
  color: #FF79DA;
}

.cont-fct {
  background: none;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.cont-fct__title {
  align-self: start;
  padding-left: 20px;
}

.cont-fct--mobile {
  width: 100%;
  background: none;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media (min-width: 1000px) {
  .cont-fct--mobile {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.cont-rst {
  background: #f6f6f6;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  flex-direction: column;
}
@media (min-width: 1000px) {
  .cont-rst {
    background: linear-gradient(90deg, #f6f6f600 0%, #f6f6f6 5%, #f6f6f6 50%, #f6f6f6 95%, #f6f6f600 100%);
  }
}
.cont-rst__title {
  align-self: start;
  padding-left: 20px;
}

.menu__cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  margin: 0;
  padding-top: 20px;
}
@media (min-width: 1000px) {
  .menu__cont {
    width: 85%;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.menu__cont > p {
  width: 90%;
  margin-right: 80%;
  text-transform: uppercase;
  margin-left: 15px;
  align-self: flex-start;
  border-bottom: 3px solid #99e2d0;
  padding-bottom: 3px;
  width: 40px;
}

@media (min-width: 1000px) {
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

/*# Pages */
.header--rst {
  display: flex;
  align-items: center;
  margin-left: 25px;
  margin-right: 25px;
}
.header--rst a {
  font-size: 125%;
  color: #000000;
}

.menu__header {
  width: 100%;
  margin-bottom: -20px;
}
.menu__header__heart {
  font-size: 175%;
  display: flex;
  justify-self: flex-end;
  margin-right: 25px;
  cursor: pointer;
  position: relative;
}
.menu__header__heart i {
  position: absolute;
  left: -50px;
  margin-left: 20px;
}
.menu__header__heart:hover .heart-solid {
  transform: scale(1);
  opacity: 1;
}
.menu__header__heart:hover .heart-empty {
  opacity: 0;
}
.menu__header__heart .heart-solid {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(0);
  transition: all 400ms ease-in-out;
  opacity: 0;
}
.menu__header__heart .heart-empty {
  color: #000000;
  opacity: 1;
  transition: all 400ms 150ms ease-in-out;
}
.menu__header figure {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.menu__header figure figcaption {
  z-index: 1;
  margin-top: -20px;
  width: 100%;
  max-height: 120px;
  line-height: 0.5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f6f6f6;
  border-radius: 25px 25px 0px 0px;
  overflow: hidden;
}
@media (min-width: 1000px) {
  .menu__header figure figcaption {
    width: 85%;
    align-self: center;
  }
}
.menu__header figure .menu__header__cont-title {
  width: 75%;
  margin-left: 25px;
  margin-top: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__header figure .menu__header__title {
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__header figure img {
  z-index: 0;
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}
@media (max-width: 480px) {
  .menu__header figure img {
    max-height: 250px;
    margin-bottom: -30px;
  }
}
@media (min-width: 480px) and (max-width: 1000px) {
  .menu__header figure img {
    max-height: 350px;
    margin-bottom: -30px;
  }
}
@media (min-width: 1000px) {
  .menu__header figure img {
    margin-bottom: -30px;
  }
}

/*# Themes */

/*# sourceMappingURL=style.css.map */
