.cont-rst__link__heart{
    display: flex;
    align-items: center;
    justify-content: right;
    cursor: pointer;
    position: relative;
    & i{
        position: absolute;
        left: -50px;
    }
    &:hover{
        & .heart-solid{
            transform: scale(1);
            opacity: 1;
        }
        & .heart-empty{
            opacity: 0;
        }
    }
    & .heart-solid{
        background: -webkit-gradient(linear, left top, left bottom, from($colour-primary), to($colour-secondary));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transform: scale(0);
        transition: all 400ms ease-in-out;
        opacity: 0;
    }
    & .heart-empty{
        opacity: 1;
        transition: all 400ms 150ms ease-in-out;
    }
}

.menu__cont{
    position: relative;
    overflow: hidden;
    .btn1{
        
        animation: menu 400ms 200ms ease-in-out both;
    }
    .btn2{
        
        animation: menu 400ms 400ms ease-in-out both;
    }
    .btn3{
        
        animation: menu 400ms 600ms ease-in-out both;
    }
    .btn4{
        
        animation: menu 400ms 800ms ease-in-out both;
    }
}